@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">URL Shortener</h1>
    <p>Shortened link is created using a Guid from database with links. Algorithm just takes first 6 letters from Guid and creates a new link with it. When user falls to this link, controller redirects him to website</p>
</div>
